<div class="selected-address">
	<dl class="dl-horizontal">
		<dt>__('Receiver'):</dt>
		<dd>{{name}}</dd>
		<dt>__('Address'):</dt>
		<dd>{{country}} {{state}} {{city}} {{region}} {{addrDetail}}</dd>
		<dt>__('Zip Code'):</dt>
		<dd>{{zipcode}}</dd>
		<dt>__('Phone Number'):</dt>
		<dd>{{phone}}</dd>
	</dl>
	<button class="btn btn-default edit-select">__('Edit Address')</button>
</div>