<input type="hidden" name="deliveraddrId" value="{{deliveraddrId}}">
<div class="form-group">
	<label for="" class="col-md-2 trim-right control-label">
		__('Receiver'):
	</label>
	<div class="col-md-4">
		<input type="text" class="form-control f-receiver" name="name" value="{{name}}">
	</div>
</div>
<div class="form-group address-group">
	<label for="" class="col-md-2 trim-right control-label">
		__('Address'):
	</label>
	{{#each address}}
	<div class="col-md-2">
		<select class="form-control f-{{name}} address-select" data-level="{{@index}}" data-parent="{{parent}}" value="{{value}}" name="{{name}}">
			<option value="">-- __('Select') --</option>
			{{#each items}}
				<option value="{{this}}" data-parentid="{{@key}}" {{#ifEq this ../value}}selected{{/ifEq}}>{{this}}</option>
			{{/each}}
		</select>
	</div>
	{{/each}}
</div>

<div class="form-group">
	<label for="" class="col-md-2 trim-right control-label">__('Address Detail'):</label>
	<div class="col-md-5">
		<textarea rows="3" class="form-control f-addr-detail" name="addrDetail">{{addrDetail}}</textarea>
	</div>
</div>
<div class="form-group">
	<label for="" class="col-md-2 trim-right control-label">__('Zip Code'):</label>
	<div class="col-md-2">
		<input type="text" class="form-control f-zipcode" name="zipcode" value="{{zipcode}}">
	</div>
</div>
<div class="form-group">
	<label for="" class="col-md-2 trim-right control-label">__('Phone Number'):</label>
	<div class="col-md-3">
		<input type="text" class="form-control f-phone" name="phone" value="{{phone}}">
	</div>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-5">
		<button type="submit" class="btn btn-primary edit-confirm">__('Submit')</button>
		<button type="button" class="btn btn-default edit-cancel">__('Cancel')</button>
	</div>
</div>